---
const {Tax, TitleT, SubTitleT} = Astro.props
---

<div 
            class="flex flex-col text-center justify-center pb-3">
                <a class="flex-col text-xs">*{TitleT} {Tax}, {SubTitleT}</a>
                <a class="flex-col text-xs underline">Learn about est. gas savings.</a>
            </div>